<script>

    import {onMount} from 'svelte';
    import {navigate, link} from 'svelte-routing';
    import storeUsuario from '../stores/usuario';
    import storeCarrito, {totalCarrito} from '../stores/carrito';
    import storeGlobal from '../stores/storeGlobal';
    import enviarOrden from '../strapi/enviarOrden';

    let nombre = '';

    // variables de stripe
    let cardElement;
    let cardErrors;
    let card;
    let stripe;
    let elements;

    $: estaVacio = !nombre || $storeGlobal.alerta;

    onMount(()=>{
        //corremos stripe si existe el usuario; es decir: si usuario tiene un token asignado
        if(!$storeUsuario.jwt){
            navigate('/');
            return;
        }
        //corremos stripe si, ademas de existir el usuario, el carrito cuenta con items cargados
        if($totalCarrito > 0){
            //creacion del cliente Stripe
            stripe = Stripe('pk_test_51H0BDiBF0cbCaEgAq50u1A8vPzusNyAF1nBTS2DM19a7lVT8qsBIJOyCNHj9Om40bye8sWDzSdE5PoYhp6cQsLZx00UhlK5eiu');
            //creacion de una instancia de Elements
            elements = stripe.elements();
            //creacion de una instancia del elemento Tarjeta
            card = elements.create('card');
            //se agrega una instancia del elemento Tarjeta al div con id card-element
            card.mount(cardElement);
            //alerta de errores, en div con id card-error, en carga de datos en el elemento Tarjeta
            card.addEventListener('change', function(event){
                if(event.error){
                    cardErrors.textContent = event.error.message;
                }
                else{
                    cardErrors.textContent = '';
                }
            })
        }
    })

    async function handleSubmit(){
        //alerta de procesamiento de pago
        storeGlobal.toggleItem('alerta', true, 'procesando pago. por favor, espere');

        //creacion de token de stripe
        let respuesta = await stripe.createToken(card).catch(error => console.log(error));
        const {token} = respuesta;
        if(token){
            const {id} = token;
            let orden = await enviarOrden({nombre, total:$totalCarrito, items:$storeCarrito, tokenStripe:id, tokenUsuario:$storeUsuario.jwt});
            if(orden){
                storeGlobal.toggleItem('alerta', true, 'tu pedido ha sido realizado con éxito');
                storeCarrito.set([]);
                localStorage.setItem('carrito', JSON.stringify([]));
                navigate('/');
                return;
            }
        }
        else{
            storeGlobal.toggleItem('alerta', true, 'hubo un error con tu orden. por favor, intentalo de nuevo', true);
        }
    }

</script>

{#if $totalCarrito > 0}
    <section class="form">
        <h2 class="section-title">finalizar compra</h2>

        <!-- formulario -->
        <form class="checkout-form" on:submit|preventDefault={handleSubmit}>
        
        <!-- total a pagar -->
        <h3>total: ${$totalCarrito}</h3>

        <!-- input: nombre -->
        <div class="form-control">
            <label for="nombre">nombre</label>
            <input type="text" id="nombre" bind:value={nombre}>
        </div>

        <!-- stripe -->
        <div class="stripe-input">

            <!-- info -->
            <label for="card-element">tarjeta de crédito o débito</label>
            <p class="stripe-info">probá con esta tarjeta de crédito: <span>4242 4242 4242 4242</span>
            <br>
            ingresá los 3 dígitos del código de seguridad
            <br>
            ingresá los 5 dígitos del código postal</p>

            <!-- divs de stripe -->
            <div id="card-element" bind:this={cardElement}></div>
            <div id="card-error" bind:this={cardErrors} role="alert"></div>
        </div>

        <!-- mensaje de error -->
        {#if estaVacio}
            <p class="form-empty">por favor, completá tu nombre</p>
        {/if}

        <!-- botón de submit -->
        <button type="submit" class="btn btn-primary btn-block" disabled={estaVacio} class:disabled={estaVacio}>comprar</button>

        </form>
    </section>
{:else}
    <div class="checkout-empty">
        <h2>Tu carrito está vacio</h2>
        <a href="/productos" use:link class="btn btn-primary">llenalo!</a>
    </div>
{/if}