<script>

    import Hero from '../componentes/Hero.svelte';
    import {link} from 'svelte-routing';

//productos destacados
    import Destacados from '../componentes/productos/Destacados.svelte';

</script>

<Hero>
<a href="/productos" class="btn btn-primary btn-hero" use:link>Comprá ahora</a>
</Hero>
<Destacados titulo='Productos destacados'/>