<script>
    import loggearUsuario from '../strapi/loggearUsuario';
    import registrarUsuario from '../strapi/registrarUsuario';

    import {navigate} from 'svelte-routing';

    import storeGlobal from '../stores/storeGlobal';

    let email = '';
    let password = '';
    let username = 'default username';
    let esMiembro = true;

    $: estaVacio = !email || !password || !username || $storeGlobal.alerta;

    function toggleMiembro() {
        esMiembro = !esMiembro;
        if(!esMiembro) {
            username = '';
        }
        else {
            username = 'default username';
        }
    }

    async function handleSubmit() {
        //alerta por carga de datos. impedimos que el usuario submitee mas de una vez
        storeGlobal.toggleItem('alerta', true, 'cargando datos. por favor, espere');
        
        let usuario;
        if(esMiembro){
            usuario = await loggearUsuario({email, password});
        }
        else{
            usuario = await registrarUsuario({email, password, username});
        }
        if(usuario){
            navigate('/productos');
            //alerta por loggeo exitoso
            storeGlobal.toggleItem('alerta', true, 'genial! ya podés comenzar a comprar!');
            return;
        }
        //alerta por loggeo fallido
        storeGlobal.toggleItem('alerta', true, 'hubo un error! por favor, intentalo de vuelta', true);
    }
</script>

<section class="form">
    <h2 class="section-title">
    {#if esMiembro}
        ingresá
    {:else}
        registrate
    {/if}
    </h2>
    <!-- formulario -->
    <form class="login-form" on:submit|preventDefault={()=>{
        handleSubmit()}}>
        <!-- input email -->
        <div class="form-control">
            <label for="email">email</label>
            <input type="email" id="email" bind:value={email}>
        </div>    
        <!-- input pass -->
        <div class="form-control">
            <label for="password">password</label>
            <input type="password" id="password" bind:value={password}>
        </div>
        <!-- input usuario -->
        {#if !esMiembro}
        <div class="form-control">
            <label for="username">usuario</label>
            <input type="text" id="username" bind:value={username}>
        </div>
        {/if}
        {#if estaVacio}
            <p class="form-empty">Asegurate de completar todos los campos</p>
        {/if}
        <button type="submit" class="btn btn-block btn-primary" disabled={estaVacio} class:disabled={estaVacio}>
        enviar
        </button>
        {#if esMiembro}
            <p class="register-link">todavía no sos miembro?<button type="button" on:click={toggleMiembro}>clickeá acá</button></p>
        {:else}
            <p class="register-link">ya sos miembro?<button type="button" on:click={toggleMiembro}>click acá</button></p>
        {/if}
    </form>
</section>