<script>
    export let id;
    // export let location;

    import Cargando from '../componentes/Cargando.svelte';
    import {link} from 'svelte-routing';

     import storeProductos from '../stores/productoPredeterminado';
     import {agregarCarrito} from '../stores/carrito';

    //store global
    import storeGlobal from '../stores/storeGlobal';
    
    $: producto = $storeProductos.find(item => item.id === parseInt(id));
</script>

<!-- titulo de cada pagina -->
<svelte:head>
    <title>{!producto?'producto individual':producto.titulo}</title>
</svelte:head>

{#if !producto}
    <Cargando />
{:else}
    <section class="single-product">
    <a href="/productos" use:link class="btn btn-primary">Volver a productos</a>
    <div class="single-product-container">
        <article class="single-product-image">
            <img src={producto.imagen} alt={producto.titulo}>
        </article>
        <article>
            <h1>{producto.titulo}</h1>
            <h2>${producto.precio}</h2>
            <p>{producto.descripcion}</p>
            <button class="btn btn-primary btn-block" on:click={()=>{
                agregarCarrito(producto);
                storeGlobal.toggleItem('carrito', true);
                }}>
                Agregar al carrito
            </button>
        </article>
    </div>
    </section>
{/if}

