<script>
    export let titulo = '';
    import {storeDestacados} from '../../stores/productoPredeterminado';
    import ProductoIndiv from './ProductoIndiv.svelte';
    import Cargando from '../Cargando.svelte';

</script>

{#if $storeDestacados.length === 0}
    <Cargando />
{:else}    
    <section class="section">
        <h2 class="section-title">{titulo}</h2>
        <div class="products-center">
            {#each $storeDestacados as producto (producto.id)}
                <ProductoIndiv {producto} />
            {/each}
        </div>
    </section>
{/if}
