<script>
    export let titulo = '';
    // import {onMount, onDestroy} from 'svelte';
    import storeProductos from '../../stores/productoPredeterminado';
    import ProductoIndiv from './ProductoIndiv.svelte';
    import Cargando from '../Cargando.svelte';

//subscribir y desubscribir al store, en detalle
    // let productosLocales = [];
    // let unsubscribe;

    // onMount(()=>{
    //     unsubscribe = storeProductos.subscribe(valor => {
    //         productosLocales = valor;
    //     });            
    // });

    // onDestroy(()=> {
    //     unsubscribe();
    // })
</script>

<section class="section">
    <h2 class="section-title">{titulo}</h2>
    <div class="products-center">
        {#each $storeProductos as producto (producto.id)}
            <ProductoIndiv {producto} />
        {:else}
            <Cargando />
        {/each}
    </div>
</section>
