<script>
//componente 'producto individual' dentro de la carpeta de componentes generales 'productos'

    export let producto;
    const {titulo, imagen, precio, id} = producto;
    import {link} from 'svelte-routing';
</script>

<article class="product">

    <div class="img-container">
        <img src={imagen} alt={titulo}>
        <a href={`/productos/${id}`} class="btn btn-primary product-link" use:link>Detalles</a>
    </div>

    <div class="product-footer">
        <p class="product-title">{titulo}</p>
        <p class="product-price">${precio}</p>
    </div>

</article>
