<script>
    import storeGlobal from '../../stores/storeGlobal';
    import storeCarrito from '../../stores/carrito';

    $: totalItems = $storeCarrito.reduce((acc, curr)=>{
        return (acc += curr.cantidad);
    }, 0);
</script>

<!-- toggle carrito -->

<div class="btn-cart-container">
    <button class="btn-cart-toggle" 
        on:click={()=>{
        storeGlobal.toggleItem('carrito', true);
        }}>
        <i class="fas fa-cart-plus"></i>
    </button>
    <span class="btn-cart-items">{totalItems}</span>
</div>