<script>
    import storeGlobal from '../../stores/storeGlobal';
    import storeUsuario from '../../stores/usuario';

    import {blur, fly, fade} from 'svelte/transition';

    import {link} from 'svelte-routing';

    import ListaItems from './ListaItems.svelte';

</script>

<div class="cart-overlay" transition:blur>
    <div class="cart-container" transition:fly={{x: 100}}>
        <div class="cart" transition:fade={{delay: 400}}>
            <!-- header carrito -->
            <div class="cart-header">
                <button class="btn-close" on:click={()=>{
                    storeGlobal.toggleItem('carrito', false);
                }}>
                    <i class="fas fa-window-close"></i>
                </button>
                <h2 class="cart-title">Tu carrito</h2>
                <span></span>
            </div>
            <!-- lista de items -->
            <ListaItems />
            <!-- footer carrito -->
            <div class="cart-footer">
                {#if $storeUsuario.jwt}
                    <a href="/checkout" use:link class="btn btn-primary btn-block" 
                    on:click={()=>{
                        storeGlobal.toggleItem('carrito', false);
                    }}>Realizar compra</a>
                {:else}
                    <p class="cart-login">Para terminar tu compra,
                    <a href="/login" use:link 
                    on:click={()=>{
                        storeGlobal.toggleItem('carrito', false);
                    }}>Ingresa</a>
                    </p>
                {/if}
            </div>
        </div>
    </div>
</div>