<script>
    export let id;
    export let titulo;
    export let precio;
    export let imagen;
    export let cantidad;

    //importar metodos del carrito
    import {removerItem, aumentarCantidad, reducirCantidad} from '../../stores/carrito';
</script>

<!-- item carrito -->
<div class="cart-item">
    <img src={imagen} alt={titulo}>
    <div>
        <h4>{titulo}</h4>
        <h5>${precio}</h5>
        <button class="cart-btn remove-btn" on:click={()=>{
            removerItem(id);
        }}>
        Eliminar
        </button>
    </div>
    <div>
        <button class="cart-btn amount-btn" on:click={()=>{
            aumentarCantidad(id);
        }}>
            <i class="fas fa-chevron-up"></i>
        </button>
        <p class="item-amount">{cantidad}</p>
        <button class="cart-btn amount-btn" on:click={()=>{
            reducirCantidad(id, cantidad);
        }}>
            <i class="fas fa-chevron-down"></i>
        </button>
    </div>
</div>