<script>
    import ItemIndiv from './ItemIndiv.svelte';
    import storeCarrito, {totalCarrito, setStorageCarrito} from '../../stores/carrito';
    import {fly} from 'svelte/transition';
    import {flip} from 'svelte/animate';
    import {afterUpdate} from 'svelte';

    afterUpdate(() => {
        setStorageCarrito($storeCarrito);
    });
</script>

<section class="cart-items">
    <article>
    {#each $storeCarrito as itemCarrito, index(itemCarrito.id)}
        <div in:fly={{delay: (index + 1) *500, x: 100}} out:fly={{x: -100}} animate:flip>
            <ItemIndiv {...itemCarrito}/>
        </div>
    {:else}
    <h2 class="empty-cart">está vacio...</h2>
    {/each}
    </article>
    <h3 class="cart-total">total: ${$totalCarrito}</h3>
</section>