<script>
    // boton de carrito
    import BotonCarrito from '../carrito/BotonCarrito.svelte';
    // store global
    import storeGlobal from '../../stores/storeGlobal';

    import {link} from 'svelte-routing';
</script>

<nav class="navbar">
    <div class="nav-center">
        <!-- sidebar toggle -->
        <button class="btn-sidebar-toggle" on:click={()=>{
            storeGlobal.toggleItem('sidebar', true);
        }}>
            <i class="fas fa-bars"></i>
        </button>
        <!-- logo -->
        <a href="/" use:link class="nav-logo">
            <img src="/assets/images/logo.svg" class="logo" alt="razors logo">
        </a>
        <!-- boton carrito -->
        <BotonCarrito />
    </div>
</nav>