<script>
    import NavbarChica from './NavbarChica.svelte';
    import NavbarGrande from './NavbarGrande.svelte';
    // store global
    import storeGlobal from '../../stores/storeGlobal';

    let anchoScreen;

    $: if (anchoScreen > 992){
        storeGlobal.toggleItem('sidebar', false);
    }
</script>

<!-- eleccion de tamaño de navbar según tamaño de ventana -->
<svelte:window bind:innerWidth={anchoScreen} />

{#if anchoScreen > 992}
    <NavbarGrande />
{:else}
    <NavbarChica />
{/if}