<script>
    import {link} from 'svelte-routing';
    
    //componentes
    import BotonCarrito from '../carrito/BotonCarrito.svelte';
    import LoginLink from '../LoginLink.svelte';
    
    import enlaces from '../../constantes/links';
</script>

<nav class="navbar">
    <div class="nav-container">
        <div class="nav-center">
            <!-- links navegacion -->
            <ul class="nav-links">
                {#each enlaces as linkNav}
                    <li>
                        <a href={linkNav.url} use:link>{linkNav.texto}</a>
                    </li>
                {/each}
            </ul>
            <!-- logo navegacion -->
            <a href="/" use:link class="nav-logo big-logo">
                <img src="/assets/images/logo.svg" class="logo" alt="razors logo">
            </a>
            <!-- toggle carrito -->
            <div class="nav-aside">
                <LoginLink />
                <BotonCarrito />
            </div>
        </div>
    </div>
</nav>