<script>
    import {link} from 'svelte-routing';
    import {fly, fade} from 'svelte/transition';

    //componentes
    import LoginLink from '../LoginLink.svelte';
    
    import enlaces from '../../constantes/links';

    // store global
    import storeGlobal from '../../stores/storeGlobal';
</script>

<div class="sidebar-container" transition:fly={{x: -1000}}>
    <div class="sidebar" transition:fade={{delay: 400}}>

        <!-- header del sidebar -->
        <div class="sidebar-header">
            <button class="btn-close" on:click={()=>{
            storeGlobal.toggleItem('sidebar', false);
        }}>
                <i class="fas fa-window-close"></i>
            </button>
        </div>

        <!-- logo del sidebar -->
        <img src="/assets/images/logo.svg" class="logo sidebar-logo" alt="razors logo">
        <!-- links del sidebar -->
        <ul class="sidebar-links">
            {#each enlaces as linkSide}
                <li>
                    <a href={linkSide.url} use:link on:click={()=>{
                        storeGlobal.toggleItem('sidebar', false);
                        }}>
                        {linkSide.texto}
                    </a>
                </li>
            {/each}
            <li>
                <LoginLink />
            </li>
        </ul>
    </div>
</div>