<script>

    import {fly, fade} from 'svelte/transition';
    import storeGlobal from '../stores/storeGlobal';
    import {onMount, onDestroy} from 'svelte';

    const handleCerrar = () => {
        storeGlobal.toggleItem('alerta', false);
    }

    let timeout;

    onMount(()=>{
        timeout = setTimeout(()=>{
            storeGlobal.toggleItem('alerta', false);
        }, 3000);
    });

    onDestroy(()=>{
        clearTimeout(timeout);
    });

</script>

<div class="alert-container" in:fly={{y:-200, duration:1000}} out:fade={{duration:0}} class:alert-danger={$storeGlobal.dangerAlerta}>
    <div class="alert">
        <p>{$storeGlobal.textoAlerta}</p>
        <button on:click={handleCerrar} class="alert-close">
            <i class="fas fa-window-close"></i>
        </button>
    </div>
</div>