<div class="hero">
    <div class="banner">
        <h1>Espumala, afeitala, dejala crecer</h1>
        <p>Aceptá tus elecciones - Nosotros lo hacemos</p>
        <slot><!-- optional fallback --></slot>
    </div>
</div>