<script>
    import {link} from 'svelte-routing';
    
    //stores
    import storeUsuario, {logoutUsuario} from '../stores/usuario';
    import storeGlobal from '../stores/storeGlobal';

</script>

{#if $storeUsuario.jwt}
    <a href="/" use:link class="logout-btn" on:click={()=>{
        logoutUsuario();
        storeGlobal.toggleItem('sidebar', false);
    }}>logout</a>
{:else}
    <a href="/login" use:link on:click={()=>{
        storeGlobal.toggleItem('sidebar', false);
    }}>login</a>
{/if}