<script>

// paginas
	import About from './paginas/About.svelte';
	import Checkout from './paginas/Checkout.svelte';
	import Home from './paginas/Home.svelte';
	import Login from './paginas/Login.svelte';
	import PlantillaProducto from './paginas/PlantillaProducto.svelte';
	import Productos from './paginas/Productos.svelte';

//router
	import {Router, Route, Link} from 'svelte-routing';

//componentes
	import Navbar from './componentes/navbar/Navbar.svelte';
	import Sidebar from './componentes/navbar/Sidebar.svelte';
	import Carrito from './componentes/carrito/Carrito.svelte';
	import Alerta from './componentes/Alerta.svelte';

//store global
	import storeGlobal from './stores/storeGlobal';

</script>

<Router>
	<Navbar />
	{#if $storeGlobal.sidebar}
		<Sidebar />
	{/if}
	{#if $storeGlobal.carrito}
		<Carrito />
	{/if}
	{#if $storeGlobal.alerta}
		<Alerta />
	{/if}
	<Route path='/' component={Home} />
	<Route path='/about' component={About} />
	<Route path='/login' component={Login} />
	<Route path='/checkout' component={Checkout} />
	<Route path='/productos' component={Productos} />
	<Route path='/productos/:id' component={PlantillaProducto} />
</Router>